@charset "utf-8";

body {
    background: #FDFEFF;
}

section {
    padding: 120px 0;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    position: relative;
}

.inview {
    opacity: 0;
    transition: 2s;
}

.inview.is-show {
    opacity: 1;
}


header>div {
    position: relative;
}

.header_background img {
    width: 100%;
    height: 956px;
    object-fit: cover;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: futura-pt, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    h1 img {
        width: 250px;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;

    }

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pc_nav ul {
    display: flex;
    gap: 40px;
}

.pc_nav ul li {
    color: #00416A;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
}

.header_wrap nav ul li a {
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
}

.header_wrap nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #00416A;
    transition: width 0.3s ease;
}

.header_wrap nav ul li a:hover::after {
    width: 100%;
}

/* スマホ版メニュー */
.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 40px;
        cursor: pointer;
        position: absolute;
        top: 34px;
        right: 27px;
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        width: 40px;
        height: 1px;
        border-radius: 1px;
        background: #00416A;
        position: relative;
        top: 8px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 40px;
        height: 1px;
        border-radius: 1px;
        background: #00416A;
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 12px;
    }

    .sp_btn span::after {
        top: 12px
    }

    /* ばつ印 */
    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューの見た目 */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 65, 106, 0.9);
        z-index: 1;
    }

    .sp_nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

    }

    .sp_nav li {
        color: #fff;
        font-size: 32px;
        font-family: the-seasons, sans-serif;
    }

    .sns-links {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: 80px;
    }
}

.hero_content {
    position: absolute;
    text-align: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animate-text {
    color: #00416A;
    font-size: 112px;
    font-family: the-seasons, sans-serif;
    letter-spacing: 0.05em;
    display: flex;
    /* 文字を横並びにする */
    overflow: hidden;
    /* 枠外から出てくるように見せる場合 */

}

/* 1文字ずつの設定 */
.animate-text span {
    display: inline-block;
    opacity: 0;
    /* 最初は透明 */
    transform: translateY(20px);
    /* 少し下に配置 */
    animation: fadeInUp 0.5s forwards;
    /* アニメーション実行 */
}

.animate-portfolio {
    margin-top: 16px;
    font-family: the-seasons, sans-serif;
    font-size: 80px;
    letter-spacing: 0.05em;
    color: #00416A;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* 枠外から出てくるように見せる場合 */
}

.animate-portfolio span {
    display: inline-block;
    opacity: 0;
    /* 最初は透明 */
    transform: translateY(20px);
    /* 少し下に配置 */
    animation: fadeInUp 0.8s forwards;
    /* アニメーション実行 */
}

/* アニメーションの中身 */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
        /* 元の位置に戻る */
    }
}

/* 時間差（ディレイ）の設定 */
.animate-text span:nth-child(1) {
    animation-delay: 0.1s;
}

.animate-text span:nth-child(2) {
    animation-delay: 0.2s;
}

.animate-text span:nth-child(3) {
    animation-delay: 0.3s;
}

.animate-text span:nth-child(4) {
    animation-delay: 0.4s;
}

.animate-text span:nth-child(5) {
    animation-delay: 0.5s;
}

.animate-text span:nth-child(6) {
    animation-delay: 0.6s;
}

.animate-text span:nth-child(7) {
    animation-delay: 0.7s;
}

/* スペース */
.animate-text span:nth-child(8) {
    animation-delay: 0.8s;
}

.animate-text span:nth-child(9) {
    animation-delay: 0.9s;
}

.animate-text span:nth-child(10) {
    animation-delay: 1.0s;
}

.animate-text span:nth-child(11) {
    animation-delay: 1.1s;
}

.animate-portfolio span:nth-child(1) {
    animation-delay: 1.2s;
}

.animate-portfolio span:nth-child(2) {
    animation-delay: 1.3s;
}

.animate-portfolio span:nth-child(3) {
    animation-delay: 1.4s;
}

.animate-portfolio span:nth-child(4) {
    animation-delay: 1.5s;
}

.animate-portfolio span:nth-child(5) {
    animation-delay: 1.6s;
}

.animate-portfolio span:nth-child(6) {
    animation-delay: 1.7s;
}

.animate-portfolio span:nth-child(7) {
    animation-delay: 1.8s;
}

.animate-portfolio span:nth-child(8) {
    animation-delay: 1.9s;
}

.animate-portfolio span:nth-child(9) {
    animation-delay: 2.0s;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.scroll_down {
    position: absolute;
    bottom: 127px;
    left: 50%;
}

.scroll_down img {
    position: absolute;
    left: 10px;
    bottom: 87px;
    color: #00416A;
    letter-spacing: .2em;
    writing-mode: vertical-lr;
    text-decoration: none;
    text-transform: uppercase;
}

.scroll_down:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7px;
    width: 15px;
    height: 17px;
    border-radius: 50%;
    background-image: url("../image/kessyou.svg");
    animation:
        circlemove 2.0s ease-in-out infinite,
        cirlemovehide 2.0s ease-out infinite;
}

@keyframes circlemove {
    0% {
        bottom: 120px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes cirlemovehide {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}

.scroll_down:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 120px;
    background: #00416A;
}

.section_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.en {
    font-family: the-seasons, sans-serif;
    font-size: 40px;
    letter-spacing: 0.05em;
    color: #00416A;
    line-height: 1;
    text-align: center;
}

.ja {
    font-family: yu-gothic-pr6n, sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #00416A;
    text-align: center;
    margin-bottom: 48px;
}

.CONCEPT_text {
    text-align: center;
    font-family: yu-gothic-pr6n, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 200%;
    color: #00416A;
}

.works,
.works-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 56px;
    padding: 0 10px;
    max-width: 1080px;
    box-sizing: border-box;
    margin: 0 auto;
}

.works-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.works-title {
    margin-top: 24px;
    font-family: yu-gothic-pr6n, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #35424D;
}

.works-category {
    font-family: yu-gothic-pr6n, sans-serif;
    ;
    font-size: 18px;
    color: #90939B;
    margin-top: 12px;
}

.btn-container {
    text-align: center;
    margin-top: 80px;
}

.btn-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* サイズと形状 */
    width: 400px;
    height: 75px;
    border: 1px solid #00416A;
    border-radius: 50%;

    /* テキストのスタイル */
    color: #00416A;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.05em;

    position: relative;
    transition: all 0.3s;
    /* ホバー時の動きを滑らかにする */
}

/* 矢印（CSSで描く） */
.arrow {
    position: absolute;
    right: 40px;
    /* 右からの位置 */
    width: 40px;
    /* 矢印の長さ */
    height: 1px;
    background-color: #00416A;
}

/* 矢印の先端の「く」の部分 */
.arrow::after {
    content: "";
    position: absolute;
    right: 1px;
    top: -4px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #00416A;
    transform: rotate(45deg);
    /* 45度回転させて先端にする */
}

/* ホバー時の演出 */
.btn-more:hover {
    background-color: #00416A;
    color: #fff;
}

.btn-more:hover .arrow {
    background-color: #fff;
}

/* 先端の「く」は、背景は塗らずに「線だけ」白くする */
.btn-more:hover .arrow::after {
    background-color: transparent;
    /* ★中身は透明のまま！ */
    border-color: #fff;
    /* ★線だけ白く！ */
}


#about {
    padding-bottom: 0;
}

.about-flex {
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 1080px;
    margin: 0 auto;
    padding-right: 10px;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 120px 120px 0 0;
}

/* 右側のテキストエリア */
.about-text {
    flex: 1;
    /* 残りの幅をすべて使う */
    text-align: left;
}

.profile-name p {
    display: inline-block;
    font-size: 28px;
    margin-right: 32px;
    font-family: yu-gothic-pr6n, sans-serif;
    font-weight: 400;
    color: #35424D;
}

.name-en {
    font-size: 20px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    color: #35424D;
    letter-spacing: 0.05em;
}

.profile-description {
    margin-top: 32px;
    line-height: 1.75;
    font-size: 18px;
    color: #35424D;
    text-align: justify;
}

.profile-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.X_logo {
    margin-right: 24px;
}

.sns {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
}

.profile-footer .more {
    position: relative;
    padding-right: 48px;
    color: #00416A;
    transition: opacity 0.3s ease;
}


.profile-footer .arrow {
    position: absolute;
    right: 0%;
    top: 50%;
    color: #00416A;
    transition: transform 0.3s ease;
}

.profile-footer .more:hover {
    opacity: 0.7;
}

.profile-footer .arrow:hover {
    opacity: 0.7;
}

.footer {
    position: relative;
    margin-top: 160px;
    min-height: 765px;
}

.footer>img {
    width: 100%;
}

footer>picture>img {
    width: 100%;
    height: 765px;
    border-radius: 16%;
    object-fit: cover;
}

.CONTACT_containar {
    position: absolute;
    text-align: center;
    z-index: 10;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.btn-more {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 484px;
    height: 80px;
    border: 1px solid #00416A;
    border-radius: 40px;
    color: #00416A;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.CONTACT {
    font-family: the-seasons, sans-serif;
    font-size: 56px;
    letter-spacing: 0.05em;
    color: #00416A;
    line-height: 1;
    text-align: center;
    margin-bottom: 16px;
}

.contact_text {
    font-family: yu-gothic-pr6n, sans-serif;
    font-size: 18px;
    color: #00416A;
    letter-spacing: 0.05em;
    line-height: 1.75;
    margin-bottom: 64px;
}

.sp {
    display: none;
}

@media not all and (min-width: 767px) {
    .sp {
        display: block;
    }
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0;
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: futura-pt, sans-serif;
}

h1 img {
    width: 300px;
    vertical-align: baseline;
}

.footer_nav ul {
    display: flex;
    gap: 40px;
}

.footer_nav ul li {
    color: #00416A;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
}

.copyright {
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: #00416A;
    font-family: "futura-pt", sans-serif;
    text-align: right;
    font-size: 20px;
}

.page_top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    /* Figmaの円のサイズに合わせる */
    text-decoration: none;
    width: 90px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* 回転する文字部分 */
.rotating-text {
    position: relative;
    /* 親(btn-pagetop)を基準にする */
    width: 100%;
    height: auto;
    /* ★回転のアニメーションをつける */
    animation: rotation 10s linear infinite;
}

/* 真ん中の矢印（動かさない） */
.static-arrow {
    position: absolute;
    top: 30%;
    left: 50%;
    /* 文字の上に重ねる */
    width: 8px;
    /* 矢印のサイズに合わせて調整 */
    z-index: 2;
    /* 文字より上に表示 */
}

/* ★くるくる回るアニメーションの定義 */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


main {
    padding-top: 260px;
}

.section_title_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.en_sub {
    font-family: the-seasons, sans-serif;
    font-size: 48px;
    letter-spacing: 0.05em;
    color: #00416A;
    line-height: 1;
    text-align: center;
}

.ja_sub {
    font-family: yu-gothic-pr6n, sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #00416A;
    text-align: center;
    margin-bottom: 80px;
}

.category ul {
    display: flex;
    justify-content: center;
    list-style: none;
    /* padding: 0;
    gap: 0; */
}

.category li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 80px 0 96px 0;
    color: #C4D4DC;
    text-decoration: none;
    padding-left: 40px;
    font-family: "futura-pt", sans-serif;
    font-size: 24px;
    letter-spacing: 0.05em;
}

.category li.is-active {
    color: #00416A;
}

.works-list li,
.coming {
    display: none;
}

.works-list li.is-show,
.coming.is-show {
    display: block;

}

.coming {
    padding: 0 10px 0 10px;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.coming div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 240px;
    border: 1px solid #C4D4DC;
    border-radius: 4px;
}

.cs-text {
    font-family: "Futura-pt", sans-serif;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #00416A;
    margin-top: 20px;
}

/* ★縦線を入れる（最後以外のliに右線を引く） */
.category li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 24px;
    background-color: #C4D4DC;
    border-right: 1px solid #C4D4DC;
    margin-left: 40px;

}

.about_sub {
    padding: 80px 0;
}

.service_container {
    display: flex;
    justify-content: center;
    /* 中央に寄せる */
    gap: 80px;
    /* 左右のアイテムの間の距離 */
    max-width: 1000px;
    margin: 0 auto;
}

.service_container {
    display: flex;
}

.service_item {
    text-align: center;
}

/* 丸いアイコン部分 */
.service_icon {
    width: 140px;
    height: 140px;
    background-color: #C4D4DC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}

.service_icon img {
    width: 63px;
}

.service_name {
    font-size: 24px;
    color: #00416A;
    font-family: "futura-pt", sans-serif;
    margin-bottom: 40px;
    letter-spacing: 0.05em;
}

.service_text {
    font-size: 18px;
    line-height: 1.5;
    color: #35424D;
    text-align: left;
    margin-bottom: 32px;
    text-align: justify;
}

.service_tools {
    font-size: 18px;
    color: #35424D;
    text-align: left;
    font-family: "futura-pt", sans-serif;
    margin-bottom: 80px;
}

.strenghts_sub {
    background: #F1F9FB;
    padding: 96px 0;
    width: 100cqw;
    margin: 0 calc(50% - 50cqw) 80px;

}

.strengths_container {
    max-width: 1080px;
    margin: 0 auto;
}

.strength_item {
    display: flex;
    padding: 56px 0;
    border-bottom: 1px solid #C4D4DC;
}

.strength_item:last-child {
    border-bottom: none
}

.strength_label {
    width: 30%;
}

.strength_label h3 {
    font-size: 24px;
    color: #00416A;
    letter-spacing: 0.05em;
}

.strength_content {
    width: 70%;
}

.strength_content p {
    font-size: 18px;
    line-height: 1.5;
    color: #35424D;
    text-align: justify;
}

.bio_container {
    max-width: 876px;
    margin: 0 auto;
    /* padding: 100px 20px; */
}

/* .bio_header {
    text-align: center;
    margin-bottom: 80px;
} */

.bio_list {
    position: relative;
    padding-left: 100px;
    /* 左側にアイコンと線のスペースを作る */
}

/* ★縦線（疑似要素で作成） */
.bio_list::before {
    content: "";
    position: absolute;
    left: 12px;
    /* アイコンの中心に来るように調整 */
    top: -32px;
    width: 1px;
    height: 110%;
    background-color: #00416A;
}

.bio_item {
    position: relative;
    display: flex;
    margin-bottom: 60px;
}

/* ★雪の結晶アイコン部分 */
.bio_marker {
    position: absolute;
    left: -100px;
    width: 25px;
    z-index: 2;
    padding: 38px 0;
    /* 線が少し切れるように調整 */
}

.bio_marker img {
    width: 100%;
}

/* ★テキスト部分 */
.bio_content {
    padding-top: 5px;
}

.bio_date {
    display: block;
    font-size: 20px;
    color: #00416A;
    font-family: "futura-pt", sans-serif;
    margin-bottom: 16px;
}

.bio_title {
    font-size: 24px;
    color: #00416A;
    margin-bottom: 40px;
    letter-spacing: 0.05em;
}

.bio_text {
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #35424D;
    text-align: justify;
}

.works_detail_container {
    max-width: 1080px;
    margin: 0 auto;
}

.category {
    font-size: 18px;
    color: #90939B;
    margin: 24px 0 80px 0;

}

.category_more {
    font-size: 18px;
    margin-bottom: 68px;
    color: #35424D;
}

.works-title_sub {
    font-size: 40px;
    margin-bottom: 40px;
    color: #35424D;
}

/* メインビジュアル */
.works_mv {
    margin-bottom: 80px;
    text-align: center;
}

.works_mv img {
    width: 100%;
    border-radius: 4px;
}

.ja_contact {
    font-family: yu-gothic-pr6n, sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #00416A;
    text-align: center;
    margin-bottom: 40px;
}

.btn-modal {
    text-align: center;
    margin: 80px 0 160px;

}

.btn-modal-more {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 160px;
}

.btn-PC-SP {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* サイズと形状 */
    width: 200px;
    height: 56px;
    border: 1px solid #00416A;
    border-radius: 36px;

    /* テキストのスタイル */
    color: #00416A;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.05em;

    position: relative;
    transition: all 0.3s;
}

/* ホバー時の演出 */
.btn-PC-SP:hover {
    background-color: #00416A;
    color: #fff;
}

.btn-PC-SP:hover .arrow {
    background-color: #fff;
}

.remodal {
    position: relative;
    padding: 24px;
}

.remodal img {
    width: 100%;
    height: auto;
    vertical-align: top;
    border: 1px solid #C4D4DC;
}

.remodal-cancel {
    width: 50px;
    height: 50px;
    padding: 0;
    position: absolute;
    /* 親要素の .remodal を基準にする */
    top: 10px;
    /* 上からの距離（お好みで調整） */
    left: 100%;
    /* 右からの距離（お好みで調整） */
    border: 1px solid #00416A;
    color: #00416A;
    background: #fff;
    position: sticky;
    top: 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
}

.remodal-cancel:hover {
    color: #fff;
    background: #00416A;
}

/* スペックテーブル */
.spec_list {
    border-bottom: 1px solid #C4D4DC;
    width: 74%;
    margin-bottom: 160px;
    margin: 0 auto;
}

.spec_item {
    display: flex;
    padding: 40px 0;
    border-top: 1px solid #C4D4DC;
}

.spec_row {
    display: flex;
    gap: 88px;
    margin-bottom: 24px;
}

.label {
    width: 172px;
    font-size: 18px;
    color: #35424D;
    font-family: yu-gothic-pr6n, sans-serif;
}

.spec_row:last-child {
    margin-bottom: 0;
}

/* 左側：項目 */
.spec_item dt {
    width: 25%;
    font-size: 18px;
    color: #00416A;
}

/* 右側：内容 */
.spec_item dd {
    width: 75%;
    font-size: 18px;
    line-height: 1.5;
    color: #35424D;
    margin-top: -0.25em;
    text-align: justify;
}

.btn-back {
    margin-top: 160px;
    text-align: center;
}

.sped_item:last-child {
    margin-bottom: 160px;
}

.contact_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 20px;
}

.contact_header {
    text-align: center;
}

.contact_lead {
    font-size: 18px;
    line-height: 1.5;
    color: #35424D;
    margin-bottom: 56px;
}

.form_item {
    margin-bottom: 32px;
}

.form_item label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    color: #35424D;
}

.form_item label span {
    color: #E32020;
    margin-left: 5px;
}

/* 入力欄の共通スタイル */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #C4D4DC;
    background-color: #DFE7EF;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: yu-gothic-pr6n, sans-serif;
    ;
}

input::placeholder,
textarea::placeholder {
    color: #90939B;
}

textarea {
    height: 294px;
    resize: vertical;
}

/* 送信ボタン */
.form_btn {
    text-align: center;
    margin-top: 96px;
}

.form_btn button {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 484px;
    height: 80px;
    border: 1px solid #00416A;
    border-radius: 40px;
    color: #00416A;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.05em;
}

/* ボタンホバー時 */
.form_btn button:hover {
    background-color: #00416A;
    color: #fff;
}

.thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* ★画面の真ん中に来るように高さを調整 */
    text-align: center;
}

.thanks_title {
    font-size: 96px;
    color: #00416A;
    font-family: the-seasons, sans-serif;
    margin-bottom: 40px;
    text-align: center;
}

.thanks_message p {
    font-size: 18px;
    line-height: 2;
    color: #35424D;
    margin-bottom: 88px;
    text-align: center;
}

/* トップに戻るボタン */
.thanks_btn a {
    display: inline-block;
    width: 292px;
    padding: 10px 0;
    background-color: #fff;
    color: #00416A;
    border: 1px solid #00416A;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

/* ホバー時の演出 */
.thanks_btn a:hover {
    background-color: #00416A;
    color: #fff;
}


/* 先端の「く」は、背景は塗らずに「線だけ」白くする */
.btn-PC-SP .arrow::after {
    background-color: transparent;
    /* ★中身は透明のまま！ */
    border-color: #fff;
    /* ★線だけ白く！ */
}


@media screen and (max-width: 1100px) {

    main {
        padding: 200px 80px 0 80px;
    }

    .sp_btn {
        top: 27px;
    }

    .works,
    .works-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 64px;
        padding: 0 10px;
        max-width: 720px;
        margin: 0 auto;
    }

    .works_detail_container {
        max-width: 720px;
        margin: 0 auto;
    }

    .spec_list {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
    h1 {
        width: 134px;
    }

    .animate-text {
        font-size: 48px;
    }

    .animate-portfolio {
        font-size: 24px;
    }

    main {
        padding: 120px 30px 0 30px;
    }

    .en {
        font-size: 32px;
    }

    .ja {
        font-size: 14px;
    }

    section {
        padding: 120px 30px 0 30px;
    }

    .CONCEPT_text {
        padding: 0 10px;
        font-size: 16px;
    }

    .profile-name p {
        font-size: 20px;
    }

    .name-en,
    .profile-description {
        font-size: 16px;
    }

    .sns .X_logo,
    .sns .insta_logo {
        width: 24px;
    }

    .btn-more,
    .form_btn button {
        width: 330px;
        height: 75px;
        font-size: 16px;
    }

    .arrow {
        width: 30px;
        right: 30px;
    }

    .contact_text {
        font-size: 16px;
        margin: 0 10px;
    }

    .footer {
        margin-top: 100px;
        min-height: 688px;
    }

    .footer_wrap {
        flex-direction: column;
        bottom: 8%;
    }

    footer h1 {
        width: 240px;
        margin-bottom: 32px;
    }

    .footer .btn-container {
        margin-top: 48px;
    }

    .footer_nav ul {
        gap: 24px;
        margin-bottom: 130px;
    }

    .copyright {
        font-size: 14px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .work .btn-container {
        margin-bottom: 80px;
    }

    .works {
        grid-template-columns: repeat(1, 1fr);
    }

    .works-list {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .works-title {
        font-size: 18px;
    }

    .works-item {
        font-size: 14px;
    }

    .works-category {
        font-size: 16px;
    }

    .category {
        margin: 0;
    }

    .category ul {
        gap: 10px 20px
    }

    .category li {
        font-size: 19px;
        padding-left: 0;
        margin: 0 0 88px 0;
    }

    .category li:not(:last-child)::after {
        margin-left: 16px;
    }

    .about-flex {
        flex-direction: column;
        gap: 40px;
    }

    .profile-description {
        margin-top: 24px;
    }

    .CONTACT {
        font-size: 40px;
        margin-bottom: 24px;
    }

    .en_sub {
        font-size: 32px;
    }

    .ja_sub {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .service_container {
        flex-direction: column;
        gap: 0;
    }

    .service_text,
    .service_name {
        margin-bottom: 24px;
    }

    .service_tools {
        margin-bottom: 56px;
    }

    .strength_item {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        width: 100%;
    }

    .strength_content p {
        font-size: 16px;
    }

    .strength_content {
        width: 100%;
    }

    .strength_label h3 {
        font-size: 20px;
        text-align: left;
        display: block;
        margin: 0;
        padding: 0;
    }

    .strength_label {
        align-self: flex-start;
        width: 100%;
    }

    .bio_content {
        padding-top: 56px;
        width: 100%;
        margin-left: 16px;
    }

    .bio_list {
        padding-left: 0;
        /* PC用の100pxを強制解除 */
        width: 100%;
        position: relative;
    }

    .bio_item {
        padding-left: 30px;
        margin-bottom: 0;
    }

    .bio_marker {
        position: absolute;
        left: 3px;
        top: 40px;
        width: 19px;
        height: auto;
    }

    .bio_date {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .bio_title {
        margin-bottom: 24px;
        font-size: 20px;
    }

    .bio_text {
        padding: 0 10px 0 0;
        font-size: 16px;
        width: 100%;

    }

    .bio_list::before {
        top: 36px;
        height: 100%;
    }

    .about_sub {
        padding-bottom: 0;
    }

    .rotating-text {
        width: 80px;
    }

    .contact_lead,
    .form_item label,
    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 16px;
    }

    textarea {
        height: 200px;
    }

    footer>picture>img {
        border-radius: 100px;
        height: 688px;
    }

    .thanks_title {
        font-size: 60px;
        margin-top: 48px;
    }

    .thanks_message p {
        margin-bottom: 80px;
    }

    .works-title_sub {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .category_more {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .works_mv {
        margin: 0;
    }

    .btn-modal {
        margin: 40px 0 80px 0;
    }

    .btn-PC-SP {
        font-size: 18px;
    }

    .spec_item {
        flex-direction: column;
    }

    .spec_item dt {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .spec_item dd {
        width: 100%;
        font-size: 16px;
    }

    .label {
        font-size: 16px;
        width: 153px;
    }

    .spec_row {
        margin-bottom: 8px;
    }

    .btn-back {
        margin-top: 80px;
    }

    .btn-modal-more {
        margin: 40px 0 80px 0;
    }
}


@media screen and (max-width: 480px) {
    .animate-text {
        font-size: 48px;
    }

    .animate-portfolio {
        font-size: 24px;
    }

    .header_background img {
        height: 600px;
    }

    .scroll_down:after {
        height: 80px;
    }

    @keyframes circlemove {
        0% {
            bottom: 80px;
        }
    }

    main {
        padding: 120px 16px 0 16px;
    }


}